@use "../components/base" as *;

.guest-page{
    background-color: $primary-color;

    .guest-page-container{
        position: relative;
        overflow: hidden;
        padding: 118px 0 25px;

        .guest-page-logo{
            margin-bottom: 34px;
        }

        h2{
            color: $primary-color;
            margin-bottom: 22px;
        }

        .guest-form-container{
            border-radius: $border-radius;

            width: 100%;
            max-width: 446px;

            padding: 47px 43px;
            margin-bottom: 145px;

            .notifications-section{
                background-color: #f9f9f9;
                border-radius: 10px;

                padding: 14px 20px;
                margin-top: 10px;


                .alert{
                    ul{
                        li{
                            font-size: 15px;
                            font-weight: 500;
                        }
                    }

                    &.alert-success{
                        ul{
                            li{
                                color: #5cb85c;
                            }
                        }
                    }

                    &.alert-error{
                        ul{
                            li{
                                color: #FA5A7D;
                            }
                        }
                    }
                }
            }

            .input-wrapper{
                display: flex;
                flex-wrap: wrap;

                label{
                    color: $primary-color;
                    font-size: 11px;
                    line-height: 12px;

                    padding-left: 16px;
                    width: 100%;

                    margin-bottom: 8px;
                }

                .text-input{
                    border: 0.5px solid #E5E5E5;
                    background-color: #F2F2F2;
                    border-radius: 10px;

                    font-size: 15px;
                    color: $primary-color;
                    line-height: normal;

                    min-height: 48px;
                    width: 100%;

                    padding: 14px 20px;
                    margin-bottom: 22px;
                }

                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: #959595;
                    opacity: 1; /* Firefox */
                }

                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: #959595
                }

                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: #959595
                }
            }

            .remember-me-section{
                margin-bottom: 32px;

                .checkbox-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    cursor: pointer;

                    .checkbox-slider-wrapper{
                        position: relative;

                        display: inline-block;

                        height: 20px;
                        width: 40px;

                        input{
                            display:none;
                        }

                        input:checked + .checkbox-slider {
                            background-color: #3CD856;
                        }

                        input:checked + .checkbox-slider:before {
                            transform: translateX(19px);
                        }

                        .checkbox-slider.checkbox-slider-round {
                            border-radius: 36.5px;

                            &:before {
                                border-radius: 50%;
                            }
                        }

                        .checkbox-slider{
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            left: 0;

                            background-color: #F2F2F2;
                            border: 0.5px solid #E5E5E5;

                            cursor: pointer;
                            transition: .4s;

                            &:before{
                                content: "";
                                position: absolute;
                                bottom: 2px;
                                left: 2px;

                                background-color: #FA5A7D;
                                box-shadow: 1px 1px 2px -1px #3333334D;

                                height: 16px;
                                width: 16px;

                                transition: .4s;
                            }
                        }
                    }

                    .checkbox-label{
                        @include noselect;

                        margin: 0;
                        padding: 0;
                        line-height: 1;
                    }
                }
            }

            .login-button-wrapper{
                padding-bottom: 30px;
                margin-bottom: 32px;

                border-bottom: 0.5px solid #E5E5E5;
            }

            .login-with-google-button-wrapper{
                margin-bottom: 22px;

                a{
                    text-decoration: none;
                    background: #333333;

                    &:hover{
                        background: #2d2d2d;
                    }

                    .image-wrapper{
                        transform: translateY(-2px);
                        margin-right: 8px;
                    }
                }
            }

            .login-form-register-link-wrapper{
                color: $primary-color;
                letter-spacing: 0.3px;
                gap: 8px;

                a{
                    font-size: 15px;
                }
            }
        }

        .copyright-footer{
            .developed-by-text-wrapper{
                margin-bottom: 26px;
            }
        }

        .guest-page-bg-1,
        .guest-page-bg-2{
            position: absolute;
            z-index: -1;

            img{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        .guest-page-bg-1{
            bottom: 0;
            left: 0;
            width: 288px;
            height: 534px;
        }

        .guest-page-bg-2{
            top: 0;
            right: 0;
            width: 814px;
            height: 685px;
        }
    }
}
