$nav-bar-width: 250px;
$primary-color: #2C2C2C;
$border-radius: 16px;
$form-color: #464E5F;

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Rubik, serif;
    font-size: 12px;
    font-weight: 400;
    color: #1A1A1A;
}

a{
    text-decoration: underline transparent;
    transition: all 0.15s linear;
    color: #FA5A7D;

    &:hover,
    &:focus,
    &.active{
        text-decoration: underline #FA5A7D;
    }
}

.primary-button{
    border-radius: $border-radius;
    background: #FA5A7D;
    font-size: 15px;
    letter-spacing: 0.3px;
    text-decoration: none;

    padding: 10px 10px;

    &:hover{
        text-decoration: none;
        background-color: #e15170;
    }
}

select {
    border: 1px solid #D0DCE4;
    border-radius: $border-radius;

    min-height: 31px;
    width: 100%;

    color: #464E5F;
    font-size: 13px;
    line-height: normal;

    padding: 7px 27px 7px 12px;

    appearance: none;
    background-image: url("../../public/assets/icons/backgrounds/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

.notifications-section{
    margin-bottom: 20px;

    font-size: 15px;
}

.copyright-footer{
    margin-top: auto;

    p{
        color: #959595;
    }

    .developed-by-text-wrapper{
        gap: 11px;
        margin-bottom: 20px;
    }
}

@mixin noselect() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin absolute-img() {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@mixin word-breaker() {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}
