@use "base" as *;

.filter-form,
.default-form{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;

    .input-wrapper{
        input{
            border: 1px solid #D0DCE4;

            color: $form-color;
            font-size: 13px;
            line-height: normal;

            padding: 7px 12px;

            min-height: 31px;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $form-color;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $form-color
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $form-color
        }
    }
}

.filter-form{
    .input-wrapper{
        input{
            border-radius: $border-radius;

            width: 147px;
        }
    }

    .select-wrapper{
        select{
            width: 147px;
        }
    }

    .button-wrapper{
        display: flex;
        gap: 13px;

        .primary-button{
            font-size: 14px;
            padding: 5px 14px;
        }

        .clear-filter-button{
            display: flex;
            align-items: center;
            gap: 2px;

            color: #FA5A7D;

            .svg{
                background-color: #FA5A7D;

                mask-size: 100% auto;
                -webkit-mask-size: 100% auto;

                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;

                mask-position: center;
                -webkit-mask-position: center;

                transform: translateY(-1px);
            }
        }
    }
}


.default-form{
    .checkbox-label,
    .checkbox-wrapper,
    .input-wrapper,
    .select-wrapper{
        width: 100%;

        label{
            display: block;

            font-size: 14px;
            color: $form-color;

            margin-bottom: 6px;
        }
    }

    .input-wrapper {
        display: flex;
        flex-wrap: wrap;

        label{
            width: 100%;
        }

        input {
            width: 100%;
            border-radius: 10px;
        }
    }

    .select-wrapper{
        .tag-display-area{

        }

        .select2{
            .selection{
                .select2-selection{
                    background-color: #fff;
                    border: 1px solid #D0DCE4;
                    border-radius: 10px;

                    padding: 7px 12px;

                    height: 31px;

                    .select2-selection__rendered{
                        color: $form-color;
                        font-size: 13px;

                        line-height: normal;

                        padding: 0;
                    }

                    .select2-selection__arrow{
                        display: none;
                    }
                }
            }


        }

        .select2-tags-multiple +.select2{
            .selection{
                .select2-selection{
                    .select2-selection__rendered{
                        display: none;
                    }

                    .select2-search{
                        .select2-search__field{
                            margin: 0;
                            padding: 0;

                            transform: translateY(-1px);
                        }
                    }
                }
            }
        }

        .tag-display-area{
            ul{
                display: flex;
                flex-wrap: wrap;
                gap: 13px;

                width: 100%;

                list-style: none;

                margin: 10px 0 16px;
                padding: 0;

                li{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    border-radius: 20px;

                    color: #ffffff;
                    font-size: 9px;
                    font-weight: 600;

                    padding: 4px 11px;

                    min-height: 22px;

                    .remove-tag{
                        font-size: 0;

                        background-image: url("../../public/assets/icons/close.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 11px;

                        height: 11px;
                        width: 11px;
                    }
                }
            }
        }
    }


    .checkbox-wrapper{
        & > label{
            margin-bottom: 13px;
        }

        .checkbox-label{
            position: relative;
            cursor: pointer;

            display: block;

            font-size: 10px;
            line-height: 12px;
            letter-spacing: normal;

            -webkit-touch-callout: none;/* iOS Safari */
            -webkit-user-select: none;/* Safari */
            -khtml-user-select: none;/* Konqueror HTML */
            -moz-user-select: none;/* Old versions of Firefox */
            -ms-user-select: none;/* Internet Explorer/Edge */
            user-select: none;/* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

            margin-bottom: 12px;

            input[type=checkbox]{
                visibility: hidden;
                position: absolute;

                &:checked + .checkbox:before{
                    background-size: 14px;
                }

                &.warning-validation + .checkbox:before{
                    border: 1px solid #c72828!important;
                }
            }

            .checkbox{
                display: flex;
                align-items: center;

                &:before{
                    content: "";
                    display: block;

                    width: 22px;
                    height: 22px;

                    margin-right: 12px;

                    border: 1px solid #D0DCE4;
                    border-radius: 5px;

                    background: #FFFFFF url('../../public/assets/icons/backgrounds/checkmark.svg') no-repeat center;
                    background-size: 0 0;
                    transition: all .2s linear;
                }

                .checkbox-text{
                    flex: 1;

                    display: flex;
                    align-items: center;
                    gap: 8px;

                    margin-top: 2px;

                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 12px;
                    color: $form-color;

                    img{
                        transform: translateY(-1px);
                    }
                }
            }
        }
    }

    .button-wrapper{
        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 100%;

        .primary-button{
            width: 100%;

            gap: 10px;

            letter-spacing: normal;

            img{
                transform: translateY(-1px);
            }
        }
    }
}

.select2-container{
    .select2-dropdown{
        background-color: #fff;
        border: 1px solid #D0DCE4;
        border-radius: 10px;

        .select2-search{
            padding: 6px;

            input{
                border-radius: 10px;
                border: 1px solid #D0DCE4;

                font-size: 13px;

                padding: 0 12px;
            }
        }
    }
}
