@use "base" as *;

.main-navigation-wrapper{
    width: $nav-bar-width;
    min-width: $nav-bar-width;

    background-color: $primary-color;

    padding: 32px 37px 24px;

    .main-navigation{
        height: 100%;

        .navigation-logo{
            margin-bottom: 36px;

            img{

            }
        }

        .profile-info{
            margin-bottom: 43px;

            .image-wrapper{
                margin-bottom: 20px;
                border-radius: 100%;
                overflow: hidden;

                img{
                    width: 105px;
                    height: 105px;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }

            .profile-info-name{
                h3{
                    color: #ffffff;
                    font-size: 17px;

                    span{
                        &.welcome-message{
                            font-size: 13px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }

        .main-nav-menu{
            margin-bottom: 36px;

            width: 100%;

            a{
                display: flex;
                align-items: center;
                gap: 17px;

                width: 100%;
                min-height: 42px;

                border-radius: $border-radius;

                padding: 8px 19px;
                margin-bottom: 6px;

                font-size: 15px;
                color: #959595;
                text-decoration: none;

                &:hover,
                &.active{
                    background-color: #FA5A7D;
                    color: #ffffff;

                    .svg{
                        background-color: #ffffff;
                    }
                }

                &:not(.active):hover{
                    background-color: rgba(250, 90, 125, 0.15);
                }

                .svg{
                    height: 25px;
                    width: 25px;
                    background-color: #959595;

                    mask-size: 100% auto;
                    -webkit-mask-size: 100% auto;

                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;

                    mask-position: center;
                    -webkit-mask-position: center;
                }

                span{

                }
            }
        }

        .copyright-footer{

        }
    }
}
