@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-Light.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url("../../public/assets/fonts/Rubik/static/Rubik-Black.ttf") format('truetype');
}

h2{
    font-family: Rubik, serif;
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    color: #0D0E10;
}

p{
    color: #4D4D4D;
    line-height: normal;
}
