@use "../../components/base" as *;

.accounts-page{
    .accounts-page-container{
        .accounts-page-content{
            max-width: calc(100vw - #{$nav-bar-width});
            width: 100%;

            .accounts-page-header{
                margin-bottom: 18px;

                .notifications-section{
                    background-color: #f9f9f9;
                    border-radius: 10px;

                    padding: 14px 20px;
                    margin-top: 10px;


                    .alert{
                        ul{
                            li{
                                font-size: 15px;
                                font-weight: 500;
                            }
                        }

                        &.alert-success{
                            ul{
                                li{
                                    color: #5cb85c;
                                }
                            }
                        }

                        &.alert-error{
                            ul{
                                li{
                                    color: #FA5A7D;
                                }
                            }
                        }
                    }
                }
            }

            .filter-form-wrapper{
                margin-bottom: 19px;

                .filter-form{
                }
            }

            .table-wrapper{
                table{
                    thead{
                        background-color: $primary-color;

                        tr{
                            th{
                                color: #ffffff;
                                font-size: 14px;
                                font-weight: 500;
                                text-align: left;

                                padding: 11px 0 11px 10px;

                                &:first-child{
                                    padding-left: 16px;
                                }
                            }
                        }
                    }

                    tbody {
                        tr {
                            height: 42px;

                            &:nth-child(odd) {
                                background-color: #D0DCE4;
                            }

                            td {
                                font-size: 13px;

                                padding-left: 10px;

                                &:not(.col-services){
                                    @include word-breaker;
                                }

                                &.col-tags{
                                    span{
                                        line-height: normal;
                                        letter-spacing: normal;

                                        display: inline-flex;
                                        align-items: center;

                                        background-color: #BF83FF;
                                        border-radius: 20px;

                                        font-size: 8px;
                                        font-weight: 500;
                                        color: #FFFFFF;

                                        padding: 2px 8.5px;

                                        min-height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .default-section-layout{
                padding: 29px 45px 72px 33px;

                @media only screen and (max-width: 1100px) {
                    padding: 20px 20px 40px;
                }
            }

            .service-section{
                .service-table-wrapper{
                    .service-table{
                        thead {
                            tr {
                                th {
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    color: #6A6A6A;

                                    &.col-site{
                                        color: #000000;
                                        font-weight: 500;
                                    }

                                    &.col-url{
                                        a{
                                            color: inherit;

                                            &:hover,
                                            &:focus,
                                            &.active{
                                                text-decoration: underline #6A6A6A;
                                            }
                                        }
                                    }

                                    &.col-edit {
                                        a{
                                            &:hover{
                                                .svg{
                                                    background-color: #FA5A7D;
                                                }
                                            }

                                            .svg{
                                                height: 24px;
                                                width: 24px;
                                                background-color: #96A5B8;

                                                mask-size: 100% auto;
                                                -webkit-mask-size: 100% auto;

                                                -webkit-mask-repeat: no-repeat;
                                                mask-repeat: no-repeat;

                                                mask-position: center;
                                                -webkit-mask-position: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .run-site-check-button-wrapper{
                    display: flex;
                    justify-content: flex-end;

                    margin: 42px 0;

                    width: 100%;

                    a{
                        border-radius: 100px;
                        padding: 10px 40px;
                    }
                }
            }


            .section-message-wrapper{
                text-align: center;

                h3{
                    font-size: 16px;
                    font-weight: 500;

                    margin-bottom: 6px;
                }

                .button-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 15px;

                    .primary-button{
                        gap: 10px;

                        letter-spacing: normal;

                        width: 100%;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}
