@use "../../components/base" as *;

.accounts-page {
    .accounts-page-container {
        .accounts-page-content {
            .manage-sites-section{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: min-content min-content 1fr;
                grid-column-gap: 35px;

                padding: 29px 41px 72px 33px;

                @media only screen and (min-width: 1101px) {
                    grid-template-columns: 2.917fr 1fr;
                }

                @media only screen and (max-width: 1100px) {
                    padding: 20px 20px 40px;
                }

                .accounts-page-header {
                    @media only screen and (min-width: 1101px) {
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                    }
                }

                .page-navigation{
                    @media only screen and (min-width: 1101px) {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }

                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;

                    margin-bottom: 38px;

                    a{
                        flex-wrap: wrap;
                        justify-content: center;
                        text-align: center;

                        border-radius: $border-radius;
                        background: #F5E1E4;

                        color: #151515;
                        font-size: 18px;
                        font-weight: 500;
                        text-decoration: none;

                        padding: 25px 10px;

                        width: 190px;
                        height: 156px;

                        &.page-navigation-red{
                            //is the default color
                        }

                        &.page-navigation-green{
                            background-color: #DCFCE7;

                            &.active{
                                border-color: #3CD856;
                            }

                            &:hover{
                                color: #3CD856;
                            }

                            .image-wrapper {
                                background-color: #3CD856;
                            }
                        }

                        &.page-navigation-blue{
                            background-color: #E0E4FD;

                            &.active{
                                border-color: #5A6ACF;
                            }

                            &:hover{
                                color: #5A6ACF;
                            }

                            .image-wrapper {
                                background-color: #5A6ACF;
                            }
                        }

                        &.page-navigation-orange{
                            background-color: #FFF4DE;

                            &.active{
                                border-color: #FF947A;
                            }

                            &:hover{
                                color: #FF947A;
                            }

                            .image-wrapper {
                                background-color: #FF947A;
                            }
                        }

                        &.active{
                            border: 1px solid #FA5A7D;
                        }

                        &:hover{
                            box-shadow: 0 4px 4px 0 #F6CBD2;
                            color: #FA5A7D;
                        }

                        .image-wrapper{
                            position: relative;

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            background-color: #FA5A7D;
                            border-radius: 100%;

                            height: 69px;
                            width: 69px;

                            margin-bottom: 16px;

                            img{
                                object-fit: contain;
                            }
                        }

                        span{
                            width: 100%;
                        }
                    }
                }

                .sites-sections{
                    @media only screen and (min-width: 1101px) {
                        grid-column: 1 / 2;
                        grid-row: 3 / 4;
                    }

                    margin-bottom: 50px;

                    /* ---------------------------------------------------------------------------------------------------- */
                    /* --------------------------------------------LIST SITES-------------------------------------------- */
                    /* ---------------------------------------------------------------------------------------------------- */
                    .sites-list-section{
                        h2{
                            margin-bottom: 17px;

                            span{
                                &.sites-count{
                                    font-weight: 700;
                                    font-size: 15px;
                                    color: #5A6ACF;
                                }
                            }
                        }

                        .sites-table-wrapper{
                            .sites-table{
                                thead{
                                    tr{
                                        th{
                                            &.col-services{
                                                width: 16.15%;
                                            }

                                            &.col-url{
                                                width: 29.56%;
                                            }

                                            &.col-group{
                                                width: 21.99%;
                                            }

                                            &.col-tags{
                                                width: 27.33%;
                                            }

                                            &.col-edit{
                                                width: 4.97%;
                                            }
                                        }
                                    }
                                }

                                tbody{
                                    tr{
                                        td{
                                            color: #434343;

                                            &.col-services{
                                                padding-left: 18px;

                                                .service-icons-wrapper{
                                                    display: flex;
                                                    gap: 10px;

                                                    .service-icon{
                                                        position: relative;
                                                        cursor: pointer;

                                                        &:hover{
                                                            .svg{
                                                                background-color: #FA5A7D;
                                                            }

                                                            .service-icon-message{
                                                                opacity: 1;
                                                                visibility: visible;
                                                            }
                                                        }

                                                        .service-icon-message{
                                                            position: absolute;
                                                            top: -7px;
                                                            left: 0;
                                                            transform: translateY(-100%);

                                                            visibility: hidden;
                                                            opacity: 0;

                                                            font-size: 10px;
                                                            color: #FFF;
                                                            font-weight: 500;

                                                            background-color: #8593ED;
                                                            border-radius: 8px;

                                                            padding: 6px 7px;

                                                            transition: all 0.1s linear;

                                                            &:before {
                                                                content: '';
                                                                position: absolute;
                                                                top: 100%;
                                                                left: 12px;
                                                                border-width: 6px;
                                                                border-style: solid;
                                                                border-color: #8593ED transparent transparent transparent;
                                                            }
                                                        }

                                                        .svg{
                                                            height: 23px;
                                                            width: 23px;
                                                            background-color: $primary-color;

                                                            mask-size: 100% auto;
                                                            -webkit-mask-size: 100% auto;

                                                            -webkit-mask-repeat: no-repeat;
                                                            mask-repeat: no-repeat;

                                                            mask-position: center;
                                                            -webkit-mask-position: center;
                                                        }
                                                    }
                                                }
                                            }

                                            &.col-url{
                                                a{
                                                    color: inherit;

                                                    &:hover,
                                                    &:focus,
                                                    &.active{
                                                        text-decoration: underline #434343;
                                                    }
                                                }
                                            }

                                            &.col-edit{
                                                padding-right: 10px;

                                                a{
                                                    text-decoration: none;

                                                    &:hover{
                                                        .svg{
                                                            background-color: #FA5A7D;
                                                        }
                                                    }

                                                    .svg{
                                                        height: 19px;
                                                        width: 19px;
                                                        background-color: $primary-color;

                                                        mask-size: 100% auto;
                                                        -webkit-mask-size: 100% auto;

                                                        -webkit-mask-repeat: no-repeat;
                                                        mask-repeat: no-repeat;

                                                        mask-position: center;
                                                        -webkit-mask-position: center;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    /* ---------------------------------------------------------------------------------------------------- */
                    /* --------------------------------------------ADD NEW SITE-------------------------------------------- */
                    /* ---------------------------------------------------------------------------------------------------- */

                    .add-new-site-section{
                        width: 100%;
                        max-width: 364px;

                        h2{
                            margin-bottom: 18px;
                        }
                    }

                    /* ---------------------------------------------------------------------------------------------------- */
                    /* --------------------------------------------IMPORT SITES-------------------------------------------- */
                    /* ---------------------------------------------------------------------------------------------------- */

                }

                /* ---------------------------------------------------------------------------------------------------- */
                /* --------------------------------------------DATA OVERVIEW-------------------------------------------- */
                /* ---------------------------------------------------------------------------------------------------- */
                .data-overview-section{
                    @media only screen and (min-width: 1101px) {
                        grid-column: 2 / 3;
                        grid-row: 1 / 4;
                    }

                    .section-head{
                        margin-bottom: 15px;

                        h2{
                            margin-bottom: 7px;
                        }

                        p{
                            color: #86899C;
                            font-size: 14px;

                            margin: 0;
                            padding: 0;
                        }
                    }

                    .performance-1,
                    .performance-2,
                    .performance-3{
                        display: flex;
                        justify-content: flex-start;

                        &:not(:last-child){
                            margin-bottom: 24px;
                        }

                        .image-wrapper{
                            img{
                                height: 100%;
                                width: 100%;
                                max-width: 276px;
                                object-fit: contain;

                                box-shadow: 0 4px 20px 0 #EEEEEE80;
                            }
                        }
                    }
                }
            }
        }
    }
}
