.accounts-page {
    .accounts-page-container {
        .accounts-page-content {
            .profile-section{
                section{
                    margin-bottom: 30px;

                    header{
                        margin-bottom: 18px;

                        h2{
                            margin-bottom: 10px;
                        }

                        p{
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }

                    .form-wrapper{
                        max-width: 300px;
                    }

                    .profile-input-wrapper{
                        position: relative;

                        &:hover{
                            .remove-picture-wrapper{
                                opacity: 1;
                                visibility: visible;
                            }
                        }

                        #profile_picture{ //input field
                            display: none;
                        }

                        .profile-picture{
                            border-radius: 100%;
                            overflow: hidden;

                            cursor: pointer;

                            img{
                                width: 105px;
                                height: 105px;
                                object-fit: cover;
                                border-radius: 100%;
                            }
                        }

                        .remove-picture-wrapper{
                            position: absolute;
                            top: 0;
                            right: 0;

                            height: 20px;
                            width: 20px;

                            padding: 0;
                            margin: 0;

                            visibility: hidden;
                            opacity: 0;

                            transition: all 0.1s linear;

                            input[type=checkbox]{
                                visibility: hidden;
                                position: absolute;
                            }

                            .image-wrapper{
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                background-color: #000000;
                                border-radius: 100%;
                                overflow: hidden;

                                height: 20px;
                                width: 20px;

                                padding: 5px;

                                cursor: pointer;

                                img{
                                    height: 10px;
                                    width: 10px;
                                    object-fit: contain;
                                }
                            }
                        }
                    }

                    .must-verify-email-wrapper{
                        margin-top: 5px;

                        p{
                            font-size: 12px;

                            & > *{
                                display: inline-block;
                                font-size: 12px;
                            }

                            button{
                                outline: none;
                                border: none;
                                box-shadow: none;
                            }
                        }
                    }

                    &.delete-account-section{
                        margin-top: auto;
                        margin-bottom: 0;

                        header{
                            margin-bottom: 10px;
                            max-width: 700px;
                        }

                        .modal-content{
                            padding: 20px 25px;

                            .modal-header{
                                margin-bottom: 18px;

                                h2{
                                    margin-bottom: 10px;
                                }

                                p{
                                    font-size: 14px;
                                    line-height: 20px;
                                }
                            }

                            .input-wrapper{
                                margin-bottom: 18px;
                            }

                            .button-wrapper{
                                flex-direction: row;


                                & > *{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
