@use "../../components/base" as *;

.accounts-page {
    .accounts-page-container {
        .accounts-page-content {
            .ssl-section {
                .ssl-table-wrapper {
                    .ssl-table {
                        thead {
                            tr {
                                th {
                                    &.col-site {
                                        width: 13%;
                                    }

                                    &.col-url {
                                        width: 17%;
                                    }

                                    &.col-expiry {
                                        width: 11%;
                                    }

                                    &.col-issuer {
                                        width: 17%;
                                    }

                                    &.col-till-expiry {
                                        width: 14%;
                                    }

                                    &.col-group{
                                        width: 12%;
                                    }

                                    &.col-tags{
                                        width: 14%;
                                    }

                                    &.col-edit {
                                        width: 2%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
