@use "../../components/base" as *;

.accounts-page {
    .accounts-page-container {
        .accounts-page-content {
            .uptime-section {
                .uptimes-table-wrapper {
                    .uptimes-table {
                        thead {
                            tr {
                                th {
                                    &.col-site {
                                        width: 15.2985%;
                                    }

                                    &.col-url {
                                        width: 19.9964%;
                                    }

                                    &.col-status {
                                        width: 8.1834%;
                                    }

                                    &.col-availability {
                                        width: 10.0719%;
                                    }

                                    &.col-downtime{
                                        width: 10.6115%;
                                    }

                                    &.col-response-time{
                                        width: 15.5233%;
                                    }

                                    &.col-graph{
                                        width: 18.0665%;
                                    }

                                    &.col-edit {
                                        width: 2.2485%;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    &.col-status {
                                        .image-wrapper{
                                            justify-content: flex-start;
                                            padding-left: 12px;

                                            img{
                                                width: 21px;
                                                height: 21px;
                                                object-fit: contain;
                                            }
                                        }
                                    }

                                    &.col-availability {
                                    }

                                    &.col-downtime{

                                    }

                                    &.col-response-time{

                                    }

                                    &.col-graph{
                                        .response-graph{
                                            margin-bottom: 3px;

                                            canvas{
                                                width: 191px!important;
                                            }
                                        }

                                        .uptime-graph{
                                            display: flex;
                                            gap: 1px;

                                            .hour-cube{
                                                width: 7px;
                                                height: 7px;

                                                &.positive{
                                                    background-color: #3CD856;
                                                }

                                                &.negative{
                                                    background-color: #FF947A;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
